
.displayAbout {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/about.gif");
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: 20% 18%;
    user-select: none;
}

.displayWritings {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/writings.gif");
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: 20% 50%;
    user-select: none;
}

.displayProjects {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/ed.gif");
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: 20% 50%;
    user-select: none;
}

.displayMisc {
    width: 100%;
    height: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/water.gif");
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: 20% 40%;
    user-select: none;
}