

.profile_text {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
    display:block;
    padding-bottom: 5%;
}

.exp a {
    color: purple;
}

.center {
    text-align: center;
}
.center a {
    color: purple;
}
li {
    margin-bottom: 1%;
}
.contacts {
    text-align: center;
}

.contacts li {
    list-style-type: none;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #69308D;
    border-radius: 8px;
    width: 70%;
    display: inline-block;
    margin-bottom: 2%;
    user-select: none;
}

.contacts a {
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    width: 100%;
    display: block;
}

.contacts li:hover {
    background-color: #6d42aa;
    
    transition: transform .2s;
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}