

.profile_text {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

/* 768px */
@media only screen and (max-width:48em) {
   .profile_text {
      display:block;
      width:100%;
   }
}

.profile_text a:link, .profile_text a:visited {
    color: purple;
}

@media only screen and (max-width:840px) {
    .center {
        text-align: center;
    }
    li {
        margin-bottom: 1%;
    }
    .contacts {
        text-align: center;
    }
}